/*Gerais*/
* a {
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

/*Início do menu superior*/

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #009688;
    z-index: 1030;
    padding-right: 15px;
}

@media print {
    .app-header {
        display: none;
    }
}

.app-header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    color: #fff;
    text-align: center;
    font-family: 'Niconne';
    padding: 0 15px;
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
}

.app-header__logo:focus, .app-header__logo:hover {
    text-decoration: none;
    color: #fff;
}

.app-sidebar__toggle {
    padding: 0 15px;
    font-family: fontAwesome;
    color: #fff;
    line-height: 2.4;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-sidebar__toggle:before {
    content: "\f0c9";
    font-size: 21px;
}

.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
    color: #fff;
    background-color: #00635a;
    text-decoration: none;
}

.app-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.app-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 15px;
    padding: 10px 0;
}

.app-search__input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__button {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    padding: 0 10px;
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    cursor: pointer;
}

.list-unstyled, .app-nav, .app-menu, .treeview-menu {
    padding-left: 0;
    list-style: none;
}

.app-nav__item {
    display: block;
    padding: 15px;
    line-height: 20px;
    color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-nav__item:hover, .app-nav__item:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: 0 0 0;
    font-size: 0.875rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
}

/*Fim do Menu superior */

/*Início da Barra Lateral*/

.rounded-circle, .app-sidebar__user-avatar {
    border-radius: 50% !important;
}

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    width: 260px;
    overflow: auto;
    z-index: 10;
    background-color: #222d32;
    -webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    -o-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
}

.app-sidebar::-webkit-scrollbar {
    width: 6px;
}

.app-sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

@media print {
    .app-sidebar {
        display: none;
    }
}

.app-sidebar__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.app-sidebar__user-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 15px;
}

.app-sidebar__user-name {
    font-size: 17px;
    line-height: 1.3;
}

.app-sidebar__user-name, .app-sidebar__user-designation {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.app-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 15px;
    font-size: 1.08em;
    border-left: 3px solid transparent;
    -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    transition: border-left-color 0.3s ease, background-color 0.3s ease;
    color: #fff;
}

.app-menu__item.active, .app-menu__item:hover, .app-menu__item:focus {
    background: #0d1214;
    border-left-color: #009688;
    text-decoration: none;
    color: #fff;
}

.app-menu__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25px;
}

.app-menu__label {
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.treeview.is-expanded [data-toggle='treeview'] {
    border-left-color: #009688;
    background: #0d1214;
}

.treeview.is-expanded .treeview-menu {
    max-height: 100vh;
}

.treeview.is-expanded .treeview-indicator {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.treeview-menu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    background: #2a383e;
}

.treeview-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 5px 5px 20px;
    font-size: 1em;
    color: #fff;
}

.treeview-item.active, .treeview-item:hover, .treeview-item:focus {
    background: #0d1214;
    text-decoration: none;
    color: #fff;
}

.treeview-item .icon {
    margin-right: 5px;
}

.treeview-indicator {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}